@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ABC Retail</h1>
    <p>ABC Retail is a growing online stroe committed to providing an amazing shopping experience.<br />
        We take care of order, products images and we manage transactions more efficiently then ever before.<br />
        ABC Retail deleivers the best possible experience and you can enjoy reliably.</p>
</div>
